wp_posts.json
{
  "name": "Wordpress Posts",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2928,
        -576
      ],
      "id": "e906001e-2312-4b5e-8651-30c02bb428ba",
      "name": "Ejecución manual"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2944,
        -832
      ],
      "id": "33299972-647d-46b5-be52-b602578ab279",
      "name": "Cron",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aridosgarciadelgado.com/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Merge').item.json.title }}"
            },
            {
              "name": "content",
              "value": "={{ $('Merge').item.json.content_html }}"
            },
            {
              "name": "status",
              "value": "={{ $('Merge').item.json.wp_status }}"
            },
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1680,
        -704
      ],
      "id": "c3a0c025-fd61-4651-a887-39c1bbd1609f",
      "name": "Subir Post",
      "credentials": {
        "httpBasicAuth": {
          "id": "ONlPwX9u4Ff2o0Kn",
          "name": "Wordpress aridos"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Dmv-XcSG59g1ktLPGRJRBVrxYOpxRPYFoh6zbDcKnRU",
          "mode": "list",
          "cachedResultName": "WP Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmv-XcSG59g1ktLPGRJRBVrxYOpxRPYFoh6zbDcKnRU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pruebas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmv-XcSG59g1ktLPGRJRBVrxYOpxRPYFoh6zbDcKnRU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Fecha",
              "lookupValue": "={{ $now.setZone('Europe/Madrid').toFormat('dd/LL/yyyy') }}"
            },
            {
              "lookupColumn": "Status",
              "lookupValue": "Unpublished"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2752,
        -688
      ],
      "id": "131d3af2-9623-4271-bb98-e2879875de8b",
      "name": "Obtener Publicacion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WIlFz1tEvPZY3dpr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const html = $json?.choices?.[0]?.message?.content || \"\";\nif (!html) throw new Error(\"No llegó HTML desde el modelo.\");\n\nconst match = html.match(/<h1[^>]*>(.*?)<\\/h1>/i);\nconst title = match ? match[1].replace(/<[^>]+>/g, '').trim() : ($json.Topic || \"Nuevo post\");\n\n// Quitar el h1 del contenido para WP (opcional)\nconst content = html.replace(/<h1[^>]*>.*?<\\/h1>\\s*/i, '');\n\nconst status = String($json.Status || \"\").toLowerCase();\nconst wp_status = status === \"published\" ? \"publish\" : \"draft\";\n\nreturn [{\n  json: {\n    title,\n    content_html: content,\n    wp_status\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2288,
        -832
      ],
      "id": "4db26714-9023-4fb2-a00f-1b79412ac9d2",
      "name": "Parsear Contenido"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.imperio-barber.com"
            },
            {
              "name": "X-Title",
              "value": "n8n-wp-agent"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-oss-120b\",\n  \"temperature\": 0.7,\n  \"max_tokens\": 2200,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Devuelve SOLO HTML para WordPress. Sin JSON. Sin markdown. Sin explicaciones.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Tema: {{$json.Topic}}\\nTono: {{$json.Tono}}\\n\\nEscribe un artículo en español (900-1300 palabras) en HTML para WordPress.\\n- Empieza con un <h1> que sea el título\\n- Luego una introducción (2-3 párrafos)\\n- Al menos 5 secciones <h2>\\n- En al menos 2 secciones usa <h3>\\n- Incluye una lista <ul><li> con 5+ puntos\\n- Incluye sección \\\"Preguntas frecuentes\\\" con 4 preguntas y respuestas\\n- Termina con una conclusión + CTA\\n- No uses <html> ni <body>\\n\\nDevuelve SOLO el HTML.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2496,
        -832
      ],
      "id": "77a221c5-859f-447d-9aaf-2569411bc813",
      "name": "Generar Contenido",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpBearerAuth": {
          "id": "ahfuL691zIodq6ye",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0069a8f1-1c7b-44ef-9f5e-69e416b4c351",
              "name": "image_prompt",
              "value": "=={{ \"professional editorial photography illustrating the topic: \" + $('Obtener Publicacion').item.json.Topic + \", realistic scene, natural human context, cinematic lighting, high detail, shallow depth of field, 85mm lens, no text, no watermark\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2496,
        -608
      ],
      "id": "ac681f11-aca2-4836-bbe3-b87ad8e1ffae",
      "name": "Prompt imagen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/stabilityai/stable-diffusion-xl-base-1.0",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"={{$json.image_prompt}}\",\n  \"parameters\": {\n    \"width\": 1024,\n    \"height\": 1024,\n    \"num_inference_steps\": 28\n  },\n  \"options\": {\n    \"wait_for_model\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2288,
        -608
      ],
      "id": "8c295601-65c2-49b8-a9f2-29cd87942e7b",
      "name": "Generar Imagen",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpBearerAuth": {
          "id": "v4zKSf9HimOXQbYz",
          "name": "Hugging Face"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2080,
        -704
      ],
      "id": "7569bc6f-3e02-41b2-a75b-d269baf9db8b",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aridosgarciadelgado.com/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "attachment; filename=\"featured.png\""
            },
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1888,
        -704
      ],
      "id": "1188b3be-4d3f-4df4-8eda-e29431cfb37f",
      "name": "Subir Imagen",
      "credentials": {
        "httpBasicAuth": {
          "id": "ONlPwX9u4Ff2o0Kn",
          "name": "Wordpress aridos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Dmv-XcSG59g1ktLPGRJRBVrxYOpxRPYFoh6zbDcKnRU",
          "mode": "list",
          "cachedResultName": "WP Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmv-XcSG59g1ktLPGRJRBVrxYOpxRPYFoh6zbDcKnRU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pruebas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmv-XcSG59g1ktLPGRJRBVrxYOpxRPYFoh6zbDcKnRU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Obtener Publicacion').item.json.row_number }}",
            "Status": "Published",
            "wp_post_id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tono",
              "displayName": "Tono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "wp_status",
              "displayName": "wp_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "wp_post_id",
              "displayName": "wp_post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1472,
        -704
      ],
      "id": "19e75734-9283-41fb-aa26-48be39000238",
      "name": "Actualizar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WIlFz1tEvPZY3dpr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cba12ede-2850-490e-b3f4-a5ad838fce27",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Published",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1280,
        -704
      ],
      "id": "e1bf0e3f-083d-49e5-bc55-d31305160778",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "jc@leitmotivmedia.com",
        "toEmail": "jc@leitmotivmedia.com, jose@leitmotivmedia.com",
        "subject": "=Post publicado: {{ $('Subir Post').item.json.title.raw }}",
        "emailFormat": "text",
        "text": "=Titulo: {{ $('Subir Post').item.json.title.raw }}\nUrl: {{ $('Subir Post').item.json.guid.raw }}\nPost ID: {{ $('Actualizar').item.json.wp_post_id }}\nStatus: {{ $('Actualizar').item.json.Status }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1088,
        -832
      ],
      "id": "74e727ce-1636-4baf-93c7-6ca5ef565cc2",
      "name": "Notificar Subida",
      "webhookId": "50380980-2c2d-4493-8ab9-c5c82eaa0c31",
      "credentials": {
        "smtp": {
          "id": "fns7ItfZotygnyXg",
          "name": "JC SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "jc@leitmotivmedia.com",
        "toEmail": "jc@leitmotivmedia.com, jose@leitmotivmedia.com",
        "subject": "=Error subida post:  {{ $('Subir Post').item.json.title.raw }}",
        "emailFormat": "text",
        "text": "=Titulo: {{ $('Subir Post').item.json.title.raw }}\nUrl: {{ $('Subir Post').item.json.guid.raw }}\nStatus: {{ $('Actualizar').item.json.Status }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1088,
        -656
      ],
      "id": "2b507f7e-882a-4bc3-9779-06d04862ebfb",
      "name": "Notificar Error",
      "webhookId": "0d77329b-f319-48f7-a100-0e7902479b81",
      "credentials": {
        "smtp": {
          "id": "fns7ItfZotygnyXg",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecución manual": {
      "main": [
        [
          {
            "node": "Obtener Publicacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Obtener Publicacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Publicacion": {
      "main": [
        [
          {
            "node": "Generar Contenido",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prompt imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Contenido": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Contenido": {
      "main": [
        [
          {
            "node": "Parsear Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt imagen": {
      "main": [
        [
          {
            "node": "Generar Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Subir Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Imagen": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Subir Imagen": {
      "main": [
        [
          {
            "node": "Subir Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir Post": {
      "main": [
        [
          {
            "node": "Actualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Notificar Subida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9cfe3184-828b-46f1-b7ad-5fdda350a46a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc24dc3ab563f700b8a8f328869926f7bcf30960baf9aa9508e047548740febc"
  },
  "id": "ljlbevADzaYBYEn8LZyMM",
  "tags": []
}
