SEO/gmb_posts_ideas.json
{
  "name": "gmb_posts_ideas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -960,
        96
      ],
      "id": "0f528d98-d077-44f5-b7f5-5b98c07a7d48",
      "name": "Cron",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        288
      ],
      "id": "68d16970-f681-4704-8e6d-7ea51dff934a",
      "name": "Ejecución manual"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f070fcbe-33da-4f2a-9763-8e9fe08e0155",
              "name": "url_web",
              "value": "",
              "type": "string"
            },
            {
              "id": "7002ff9b-20c9-4efb-9480-ac6788711b15",
              "name": "num_ideas",
              "value": "",
              "type": "string"
            },
            {
              "id": "fc254cae-2d1c-4a21-a26d-2f85ef4bbb2e",
              "name": "max_urls",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        176
      ],
      "id": "ad84931a-b7cb-45b6-8e64-fc4a2d521d31",
      "name": "Set"
    },
    {
      "parameters": {
        "jsCode": "const xml = $json.data || \"\";\nconst maps = [...xml.matchAll(/<loc>(.*?)<\\/loc>/g)].map(m => m[1].trim());\n\nconst allowed = maps.filter(u =>\n  u.includes(\"post-sitemap.xml\") || u.includes(\"page-sitemap.xml\")\n);\n\nreturn { sitemaps: allowed };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        256
      ],
      "id": "c552969a-0071-4488-9478-91833aa998f3",
      "name": "Extraer Sitemaps"
    },
    {
      "parameters": {
        "url": "={{ $json.url_web }}/sitemap_index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        256
      ],
      "id": "d48778a3-a1d0-4c45-915a-17159473507f",
      "name": "Obtener Sitemap"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sitemaps",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        32,
        256
      ],
      "id": "105fa261-8a40-435d-88b9-f642897904a0",
      "name": "Split"
    },
    {
      "parameters": {
        "url": "={{ $json.sitemaps }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        256
      ],
      "id": "30886219-3904-4ef3-9162-e06257eaf0a7",
      "name": "Obtener URLs"
    },
    {
      "parameters": {
        "jsCode": "const xml = $json.data || \"\";\n\nlet urls = [...xml.matchAll(/<loc>(.*?)<\\/loc>/g)].map(m => m[1].trim());\n\nfunction keep(u){\n  if (u.includes(\"/contacto\")) return false;\n  if (u.includes(\"/aviso-legal\")) return false;\n  if (u.includes(\"/politica\")) return false;\n  if (u.includes(\"/cookies\")) return false;\n  if (u.includes(\"/author/\")) return false;\n  if (u.includes(\"/tag/\")) return false;\n  if (u.includes(\"/category/\")) return false;\n  if (u.includes(\"?\")) return false;\n  return true;\n}\n\nurls = urls.filter(keep);\n\nurls.sort((a,b)=>{\n  const pa = a.includes(\"/servicios/\") ? 0 : 1;\n  const pb = b.includes(\"/servicios/\") ? 0 : 1;\n  return pa - pb;\n});\n\nreturn [{ urls: urls.slice(0, $('Set').first().json.max_urls) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        256
      ],
      "id": "aefd506a-07cf-4f7c-abd2-d4922e1cc4d5",
      "name": "Extraer URLs <loc>"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {
          "destinationFieldName": "page_url"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        544,
        256
      ],
      "id": "9f61bd50-0fd0-4868-9802-583fd3afbc53",
      "name": "Split1"
    },
    {
      "parameters": {
        "url": "={{ $json.page_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        256
      ],
      "id": "dcb7489a-a09c-4ebe-87c0-b4b602a0ab27",
      "name": "Obtener HTML"
    },
    {
      "parameters": {
        "jsCode": "const url = $json.page_url;\nlet html = $json.data || \"\";\n\nhtml = html.replace(/<script[\\s\\S]*?<\\/script>/gi, \"\");\nhtml = html.replace(/<style[\\s\\S]*?<\\/style>/gi, \"\");\n\nhtml = html.replace(/<nav[\\s\\S]*?<\\/nav>/gi, \"\");\nhtml = html.replace(/<footer[\\s\\S]*?<\\/footer>/gi, \"\");\n\nlet text = html.replace(/<[^>]+>/g, \" \");\ntext = text.replace(/\\s+/g, \" \").trim();\n\nif (text.length > 3500) text = text.slice(0, 3500);\n\nreturn [{text}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        256
      ],
      "id": "b81e0264-34d3-46c9-897e-0cc67e3b09f9",
      "name": "Limpiar Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer"
            },
            {
              "name": "X-Title",
              "value": "n8n-wp-agent"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-oss-120b\",\n  \"temperature\": 0.65,\n  \"max_tokens\": 2600,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un estratega de contenidos para Google Business Profile de una asesoría fiscal y legal en España (BUJARRABAL). Devuelve SOLO JSON válido: sin markdown, sin explicaciones, sin texto fuera del JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Genera EXACTAMENTE 2 ideas de posts para Google Business Profile.\\n\\nNO repitas NI reformules temas similares a estos ya existentes:\\n{{ $json.existingTopics }}\\n\\nContexto (texto limpio de la web):\\n{{ $json.concatenated_text }}\\n\\nDevuelve SOLO un array JSON válido con esta estructura EXACTA:\\n[\\n  {\\n    \\\"fecha\\\":\\\"\\\",\\n    \\\"tema\\\":\\\"\\\",\\n    \\\"publico_objetivo\\\":\\\"\\\",\\n    \\\"titulo\\\":\\\"\\\",\\n    \\\"texto\\\":\\\"\\\",\\n    \\\"palabras_clave\\\":\\\"\\\",\\n    \\\"cta\\\":\\\"\\\",\\n    \\\"enlace\\\":\\\"\\\",\\n    \\\"imagen_sugerida\\\":\\\"\\\"\\n  }\\n]\\n\\nReglas de copy:\\n- \\\"texto\\\" debe tener entre 400 y 1200 caracteres aprox, estilo cercano y profesional.\\n- Emojis: en \\\"titulo\\\" incluye EXACTAMENTE 1 emoji; en \\\"texto\\\" incluye 0 o 1 emoji (nunca más). No uses emojis en exceso.\\n- \\\"cta\\\" debe ser corta (ej: \\\"Solicita asesoramiento\\\", \\\"Reserva tu cita\\\").\\n- \\\"enlace\\\" debe ser una URL de bujarrabal.com relevante al tema.\\n- \\\"fecha\\\" no la inventes: deja \\\"\\\" si no hay info.\\n\\nReglas de IMAGEN (muy importante):\\n- \\\"imagen_sugerida\\\" NO debe ser un nombre de archivo. Debe ser un PROMPT listo para generar una imagen.\\n- Mantén SIEMPRE el estilo visual BUJARRABAL:\\n  • proporción 4:3\\n  • estilo hiperrealista, profesional y sobrio\\n  • iluminación clara, neutra y uniforme\\n  • predominio de tonos azules corporativos (ropa, carpetas, detalles del entorno)\\n  • despacho moderno, cálido y profesional\\n  • escena humana y cercana (sin dramatismo), con asesor/abogado y cliente(s) revisando documentos del tema\\n  • sin textos, sin logos, sin marcas de agua\\n- El prompt debe adaptar la escena al tema del post (Renta, deducciones, revisión de borrador, errores, plazos, etc.).\\n\\nSalida: SOLO JSON válido.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1456,
        0
      ],
      "id": "d28b2cd8-3593-4d43-899a-e44ed25ddca5",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "ahfuL691zIodq6ye",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nfunction pick(r, keys) {\n  for (const k of keys) if (r[k] != null && String(r[k]).trim() !== \"\") return String(r[k]);\n  return \"\";\n}\n\nconst lines = [];\nfor (const r of rows) {\n  const fecha  = pick(r, [\"fecha\",\"Fecha\"]);\n  const tema   = pick(r, [\"tema\",\"Tema\"]);\n  const titulo = pick(r, [\"titulo\",\"Titulo\",\"Título\"]);\n  const enlace = pick(r, [\"enlace\",\"Enlace\",\"enalce\",\"URL\",\"Url\"]);\n\n  const line = `${fecha} | ${tema} | ${titulo} | ${enlace}`.trim();\n  if (line !== \"|||\") lines.push(`- ${line}`);\n}\n\nconst existingTopics = lines.slice(0, 150).join(\"\\n\");\n\nreturn [{ existingTopics }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        0
      ],
      "id": "7e8a39a7-5443-4cc5-a6cf-8030d061d946",
      "name": "Obtener Topics"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1200,
        0
      ],
      "id": "a8b236a5-33bf-452a-93e9-cbe44656da40",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "75232d6f-20e5-4d74-a4c9-7f9ae3ad817b",
      "name": "Obtener Posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WIlFz1tEvPZY3dpr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "text",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1056,
        256
      ],
      "id": "e8eacdd3-6a0a-4b34-b1d0-d8f3b3cff799",
      "name": "Summarize"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst root = Array.isArray(item) ? item[0] : item;\n\nlet content = root?.choices?.[0]?.message?.content;\n\nif (content === undefined || content === null) {\n  throw new Error('No encuentro choices[0].message.content en el output del HTTP node.');\n}\n\nlet parsed;\nif (typeof content === 'string') {\n  content = content.trim();\n  parsed = JSON.parse(content);\n} else {\n  parsed = content;\n}\n\nif (Array.isArray(parsed)) parsed = { posts: parsed };\nif (!parsed.posts || !Array.isArray(parsed.posts)) {\n  throw new Error('El JSON parseado no contiene \"posts\" como array.');\n}\n\n\nconst publishDays = [1, 3, 5];\n\nconst respectExistingFecha = false;\n\nconst pushToNextWeekIfWeekend = true;\n\nconst fmt = (d) => {\n  const yyyy = d.getFullYear();\n  const mm = String(d.getMonth() + 1).padStart(2, '0');\n  const dd = String(d.getDate()).padStart(2, '0');\n  return `${yyyy}-${mm}-${dd}`;\n};\n\nconst getMonday = (date) => {\n  const d = new Date(date);\n  const day = d.getDay();\n  const diff = (day === 0 ? -6 : 1) - day; \n  d.setDate(d.getDate() + diff);\n  d.setHours(9, 0, 0, 0);\n  return d;\n};\n\nconst today = new Date();\nlet baseMonday = getMonday(today);\n\nif (pushToNextWeekIfWeekend) {\n  const dow = today.getDay();\n  if (dow === 0 || dow === 6) {\n    baseMonday.setDate(baseMonday.getDate() + 7);\n  }\n}\n\nconst weekDates = publishDays.map((dow) => {\n  const d = new Date(baseMonday);\n  d.setDate(baseMonday.getDate() + (dow - 1));\n  return fmt(d);\n});\n\nparsed.posts = parsed.posts.map((p, i) => {\n  const out = { ...p };\n\n  if (!respectExistingFecha || !out.fecha || String(out.fecha).trim() === '') {\n    out.fecha = weekDates[i % weekDates.length];\n  }\n\n  return out;\n});\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        0
      ],
      "id": "54206fe9-93f7-4e64-a52d-2a2fa90e7f36",
      "name": "Parsear JSON"
    },
    {
      "parameters": {
        "fieldToSplitOut": "posts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1920,
        0
      ],
      "id": "6496c74f-2b3e-4cab-8bb6-df8974df7a5d",
      "name": "Split2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2128,
        0
      ],
      "id": "ae4d47c2-20d5-47f2-bcfc-22eadaaa3b8e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WIlFz1tEvPZY3dpr",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecución manual": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Obtener Sitemap",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Sitemap": {
      "main": [
        [
          {
            "node": "Extraer Sitemaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Sitemaps": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Obtener URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener URLs": {
      "main": [
        [
          {
            "node": "Extraer URLs <loc>",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer URLs <loc>": {
      "main": [
        [
          {
            "node": "Split1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split1": {
      "main": [
        [
          {
            "node": "Obtener HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener HTML": {
      "main": [
        [
          {
            "node": "Limpiar Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Output": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Topics": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Posts": {
      "main": [
        [
          {
            "node": "Obtener Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parsear JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear JSON": {
      "main": [
        [
          {
            "node": "Split2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "040dbae2-f1b6-4295-9a62-338cc8ec5c11",
  "meta": {
    "instanceId": "bc24dc3ab563f700b8a8f328869926f7bcf30960baf9aa9508e047548740febc"
  },
  "id": "-rs_QK9af43nP-bUKsvaU",
  "tags": []
}