Wordpress/wp_posts_upload.json
{
  "name": "wp_posts_upload",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2928,
        -576
      ],
      "id": "b5f3e981-d46a-406f-b947-fefa03b52a0a",
      "name": "Ejecuci\u00f3n manual"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2944,
        -832
      ],
      "id": "e3a87f9e-0550-4793-8120-cd91726d86f9",
      "name": "Cron",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aridosgarciadelgado.com/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Merge').item.json.title }}"
            },
            {
              "name": "content",
              "value": "={{ $('Merge').item.json.content_html }}"
            },
            {
              "name": "status",
              "value": "={{ $('Merge').item.json.wp_status }}"
            },
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1680,
        -704
      ],
      "id": "0ce5587a-46ce-42b0-9b59-824fd515a738",
      "name": "Subir Post"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Dmv-XcSG59g1ktLPGRJRBVrxYOpxRPYFoh6zbDcKnRU",
          "mode": "list",
          "cachedResultName": "WP Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmv-XcSG59g1ktLPGRJRBVrxYOpxRPYFoh6zbDcKnRU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pruebas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmv-XcSG59g1ktLPGRJRBVrxYOpxRPYFoh6zbDcKnRU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Fecha",
              "lookupValue": "={{ $now.setZone('Europe/Madrid').toFormat('dd/LL/yyyy') }}"
            },
            {
              "lookupColumn": "Status",
              "lookupValue": "Unpublished"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2752,
        -688
      ],
      "id": "c05446d5-762d-4c7b-a9c5-130e8f83d291",
      "name": "Obtener Publicacion"
    },
    {
      "parameters": {
        "jsCode": "const html = $json?.choices?.[0]?.message?.content || \"\";\nif (!html) throw new Error(\"No lleg\u00f3 HTML desde el modelo.\");\n\nconst match = html.match(/<h1[^>]*>(.*?)<\\/h1>/i);\nconst title = match ? match[1].replace(/<[^>]+>/g, '').trim() : ($json.Topic || \"Nuevo post\");\n\n// Quitar el h1 del contenido para WP (opcional)\nconst content = html.replace(/<h1[^>]*>.*?<\\/h1>\\s*/i, '');\n\nconst status = String($json.Status || \"\").toLowerCase();\nconst wp_status = status === \"published\" ? \"publish\" : \"draft\";\n\nreturn [{\n  json: {\n    title,\n    content_html: content,\n    wp_status\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2288,
        -832
      ],
      "id": "064d7c86-bfc7-4cc4-807a-1fe195a31dac",
      "name": "Parsear Contenido"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.imperio-barber.com"
            },
            {
              "name": "X-Title",
              "value": "n8n-wp-agent"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-oss-120b\",\n  \"temperature\": 0.7,\n  \"max_tokens\": 2200,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Devuelve SOLO HTML para WordPress. Sin JSON. Sin markdown. Sin explicaciones.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Tema: {{$json.Topic}}\\nTono: {{$json.Tono}}\\n\\nEscribe un art\u00edculo en espa\u00f1ol (900-1300 palabras) en HTML para WordPress.\\n- Empieza con un <h1> que sea el t\u00edtulo\\n- Luego una introducci\u00f3n (2-3 p\u00e1rrafos)\\n- Al menos 5 secciones <h2>\\n- En al menos 2 secciones usa <h3>\\n- Incluye una lista <ul><li> con 5+ puntos\\n- Incluye secci\u00f3n \\\"Preguntas frecuentes\\\" con 4 preguntas y respuestas\\n- Termina con una conclusi\u00f3n + CTA\\n- No uses <html> ni <body>\\n\\nDevuelve SOLO el HTML.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2496,
        -832
      ],
      "id": "7b19fb93-54ba-4c9c-bb75-c63879da7308",
      "name": "Generar Contenido",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0069a8f1-1c7b-44ef-9f5e-69e416b4c351",
              "name": "image_prompt",
              "value": "=={{ \"professional editorial photography illustrating the topic: \" + $('Obtener Publicacion').item.json.Topic + \", realistic scene, natural human context, cinematic lighting, high detail, shallow depth of field, 85mm lens, no text, no watermark\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2496,
        -608
      ],
      "id": "e71e20b9-8dd3-4e8b-9238-7457039474a0",
      "name": "Prompt imagen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/stabilityai/stable-diffusion-xl-base-1.0",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"={{$json.image_prompt}}\",\n  \"parameters\": {\n    \"width\": 1024,\n    \"height\": 1024,\n    \"num_inference_steps\": 28\n  },\n  \"options\": {\n    \"wait_for_model\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2288,
        -608
      ],
      "id": "85328ccf-b505-4b44-89fe-75a00680b5f6",
      "name": "Generar Imagen",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2080,
        -704
      ],
      "id": "251bf2f3-a265-48f6-bdc6-35056236f0e7",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aridosgarciadelgado.com/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "attachment; filename=\"featured.png\""
            },
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1888,
        -704
      ],
      "id": "82bc7c2c-59c2-4e8c-8179-0baf199cbad9",
      "name": "Subir Imagen"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Dmv-XcSG59g1ktLPGRJRBVrxYOpxRPYFoh6zbDcKnRU",
          "mode": "list",
          "cachedResultName": "WP Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmv-XcSG59g1ktLPGRJRBVrxYOpxRPYFoh6zbDcKnRU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pruebas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmv-XcSG59g1ktLPGRJRBVrxYOpxRPYFoh6zbDcKnRU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Obtener Publicacion').item.json.row_number }}",
            "Status": "Published",
            "wp_post_id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tono",
              "displayName": "Tono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "wp_status",
              "displayName": "wp_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "wp_post_id",
              "displayName": "wp_post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1472,
        -704
      ],
      "id": "9fbcbeda-a9f1-417e-92b2-9915339bc9b3",
      "name": "Actualizar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cba12ede-2850-490e-b3f4-a5ad838fce27",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Published",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1280,
        -704
      ],
      "id": "7419b64d-4bdf-43f9-923e-30e5b03b3768",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "jc@leitmotivmedia.com",
        "toEmail": "jc@leitmotivmedia.com, jose@leitmotivmedia.com",
        "subject": "=Post publicado: {{ $('Subir Post').item.json.title.raw }}",
        "emailFormat": "text",
        "text": "=Titulo: {{ $('Subir Post').item.json.title.raw }}\nUrl: {{ $('Subir Post').item.json.guid.raw }}\nPost ID: {{ $('Actualizar').item.json.wp_post_id }}\nStatus: {{ $('Actualizar').item.json.Status }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1088,
        -832
      ],
      "id": "4e9765b7-4955-4789-b9e8-c4bf472e281e",
      "name": "Notificar Subida"
    },
    {
      "parameters": {
        "fromEmail": "jc@leitmotivmedia.com",
        "toEmail": "jc@leitmotivmedia.com, jose@leitmotivmedia.com",
        "subject": "=Error subida post:  {{ $('Subir Post').item.json.title.raw }}",
        "emailFormat": "text",
        "text": "=Titulo: {{ $('Subir Post').item.json.title.raw }}\nUrl: {{ $('Subir Post').item.json.guid.raw }}\nStatus: {{ $('Actualizar').item.json.Status }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1088,
        -656
      ],
      "id": "9ef080db-79e8-44f3-86a7-97ccd47be17d",
      "name": "Notificar Error"
    }
  ],
  "connections": {
    "Ejecuci\u00f3n manual": {
      "main": [
        [
          {
            "node": "Obtener Publicacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Obtener Publicacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Publicacion": {
      "main": [
        [
          {
            "node": "Generar Contenido",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prompt imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Contenido": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Contenido": {
      "main": [
        [
          {
            "node": "Parsear Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt imagen": {
      "main": [
        [
          {
            "node": "Generar Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Subir Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Imagen": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Subir Imagen": {
      "main": [
        [
          {
            "node": "Subir Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir Post": {
      "main": [
        [
          {
            "node": "Actualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Notificar Subida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}